<div class="name">
    <div>
        <h1 class="color-changing-text">Hola. </h1>
        <h1 class="color-changing-text">Soy David Escobar</h1>
        <p>Cloud Practitioner de AWS y estudiante de DuocUC</p>
    </div>
    <div>
        <img src="../../../assets/1681786081745.jpeg" alt="">
    </div>
    <div class="button">

    </div>
</div>
<div class="navbar">
    <div class="nav-container">
        <ul>
            <li><a href="#">Sobre mi</a></li>
            <li><a href="#">Curriculum</a></li>
            <li><a href="#">Proyectos</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </div>
</div>
<!-- Contenido de la página -->
